{
  "openapi": "3.1.0",
  "info": {
    "title": "SigmaGrid API",
    "version": "1.0.0",
    "description": "SigmaGrid — Institutional fundamentals and alpha signals API for synthetic-equity perpetuals (SPY-PERP, QQQ-PERP, TSLA-PERP, etc.). 19 endpoints across 5 pricing tiers. API live."
  },
  "servers": [
    {
      "url": "https://api.sigmagrid.app",
      "description": "Production (live)"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Health check",
        "description": "Free health check endpoint for uptime monitoring.",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/validate": {
      "get": {
        "summary": "Service validation + supported assets",
        "description": "Free endpoint (no payment). Returns service availability and supported assets list.",
        "responses": {
          "200": {
            "description": "Service is reachable",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/api/discovery": {
      "get": {
        "summary": "Bot-discoverable API info",
        "description": "Free. Returns JSON with bot-discoverable API information.",
        "responses": { "200": { "description": "Discovery info" } }
      }
    },
    "/openapi.yaml": {
      "get": {
        "summary": "OpenAPI 3.0 specification",
        "description": "Returns the machine-readable OpenAPI specification.",
        "responses": { "200": { "description": "OpenAPI spec in YAML" } }
      }
    },
    "/api/registry-services.json": {
      "get": {
        "summary": "Machine-readable service manifest",
        "description": "Returns service IDs and paths for x402 gateways.",
        "responses": { "200": { "description": "Service manifest" } }
      }
    },
    "/v1/signals/{ticker}": {
      "get": {
        "summary": "Free teaser — regime state + event-risk labels",
        "description": "Free. Returns regime state and event-risk level as text labels. No numeric data. Includes gated_endpoints map.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Free teaser with regime + event-risk labels",
            "content": {
              "application/json": {
                "example": {
                  "ticker": "SPY",
                  "regime": "risk_on",
                  "event_risk": "low",
                  "gated_endpoints": {
                    "premium": "/v1/premium/SPY",
                    "fair_value": "/v1/fair-value/SPY",
                    "spread": "/v1/spread/SPY",
                    "funding": "/v1/funding/SPY",
                    "regime": "/v1/regime/SPY",
                    "event_risk": "/v1/event-risk/SPY",
                    "events": "/v1/events/SPY",
                    "arbitrage": "/v1/arbitrage/SPY",
                    "alpha_snapshot": "/v1/alpha-snapshot/SPY"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/fair-value/{ticker}": {
      "get": {
        "summary": "Fair value estimate (0.02 USDC)",
        "description": "Returns fair value, source, confidence, per-venue premium-to-close bps.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Fair value data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/premium/{ticker}": {
      "get": {
        "summary": "Cross-venue mispricing (0.02 USDC)",
        "description": "Per-venue premiums + spread summary.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Premium data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/spread/{ticker}": {
      "get": {
        "summary": "Cross-venue spread (0.02 USDC)",
        "description": "Cheapest/richest venue, max spread bps, arbitrage flag.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Spread data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/funding/{ticker}": {
      "get": {
        "summary": "Funding rates (0.02 USDC)",
        "description": "Funding rates, z-scores, anomaly flags, mean-reversion probability. Hyperliquid only.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Funding data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/regime-basic/{ticker}": {
      "get": {
        "summary": "Risk regime basic (0.02 USDC)",
        "description": "Risk regime with VIX level, VIX 24h change, funding direction.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Basic regime data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/regime/{ticker}": {
      "get": {
        "summary": "Regime classification (0.02 USDC)",
        "description": "Regime (risk_on/risk_off/transitioning) with VIX context and confidence.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Regime data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/event-risk/{ticker}": {
      "get": {
        "summary": "Earnings event-risk (0.02 USDC)",
        "description": "Event-risk level, hours to event, historical avg move %.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Event risk data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/events/{ticker}": {
      "get": {
        "summary": "Event sensitivity (0.02 USDC)",
        "description": "Next event, impact, bias, risk level.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Event data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/arbitrage/{ticker}": {
      "get": {
        "summary": "Arbitrage detection (0.02 USDC)",
        "description": "Per-venue premiums + funding for arbitrage detection.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Arbitrage data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/historical/{ticker}": {
      "get": {
        "summary": "Historical time-series (0.03 USDC)",
        "description": "Time-series: fair value, regime, drift, premiums.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "start", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "end", "in": "query", "required": false, "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer" } }
        ],
        "responses": {
          "200": { "description": "Historical data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/alpha-snapshot/{ticker}": {
      "get": {
        "summary": "Full AlphaSnapshot (0.03 USDC)",
        "description": "All signal columns for one ticker.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Alpha snapshot data" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/snapshot": {
      "get": {
        "summary": "Multi-ticker snapshot (0.05 USDC)",
        "description": "Dashboard snapshot for multiple tickers.",
        "parameters": [
          { "name": "tickers", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Multi-ticker snapshot" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/alpha-snapshot/batch": {
      "get": {
        "summary": "Batch AlphaSnapshot (0.05 USDC)",
        "description": "Full AlphaSnapshot for multiple tickers.",
        "parameters": [
          { "name": "tickers", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Batch alpha snapshot" },
          "402": { "description": "Payment required (x402)" }
        }
      }
    },
    "/v1/drift/{ticker}": {
      "get": {
        "deprecated": true,
        "summary": "Directional drift (deprecated — 410 Gone)",
        "description": "Deprecated. Returns 410 Gone. Use /v1/alpha-snapshot/{ticker} instead.",
        "parameters": [
          { "name": "ticker", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "410": { "description": "Gone. Use /v1/alpha-snapshot/{ticker}." }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "service": { "type": "string" },
          "time": { "type": "string", "format": "date-time" }
        },
        "required": ["status"]
      }
    }
  }
}
